# Resultados de build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
project.assets.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Pacotes do NuGet
*.nupkg

# Pacotes de símbolos do NuGet
*.snupkg

# Arquivo de variáveis de ambiente
.env

# Outros
~$*
*~
CodeCoverage/

# Log binário e estruturado do MSBuild
*.binlog

# Resultados de teste do MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Pasta de cache e configurações locais do Projeto
.vs/

# Configurações do usuário
*.csproj.user
*.suo

# Arquivos temporários do Visual Studio
*.userosscache
*.sln.docstates

# Arquivos de log e temporários
*.log
*.tmp

# Arquivo de teste de API
*.http